<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>里程產生器</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  <style>
  </style>
</head>

<body class="bg-light">
  <noscript>
    <strong>We're sorry but this site won't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app" class="container-fluid min-vh-100 d-flex flex-column" @dragover.prevent @drop.prevent>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
      <div class="container-fluid">
        <div>
          <span v-if="gpxFile" class="navbar-text">{{gpxFile.name}}</span>
          <button v-if="gpxFile" type="button" class="btn btn-danger" @click="clear()">清除</button>
          <input class="form-control" type="file" id="gpx-file" name="gpx-file" accept=".gpx" required
            @change="onGpxChosen" style="display:none;">
          <label v-if="!gpxFile" for="gpx-file" class="btn btn-primary position-relative">
            選擇GPX檔案...
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              或拖放到地圖上
            </span>
          </label>
        </div>
        <div>
          <button v-if="gpxFile" type="button" class="btn btn-primary" @click="preview()">預覽</button>
          <div v-if="previewed" class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              下載
            </button>
            <div class="dropdown-menu">
              <button type="button" class="dropdown-item" @click="downloadGpx()">GPX</button>
              <button type="button" class="dropdown-item" @click="downloadCsv()">CSV</button>
            </div>
          </div>
          <button v-if="gpxFileContent && previewed" type="button" class="btn btn-danger" @click="restore()">還原</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              關於
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <button type="button" class="dropdown-item" data-bs-toggle="modal"
                data-bs-target="#introModal">簡介及源起</button>
              <button type="button" class="dropdown-item" data-bs-toggle="modal"
                data-bs-target="#notesModal">注意事項</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="row progress" style="height: 4px;">
      <div v-if="progress > 0" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        v-bind:style="{ width: progress + '%' }"></div>
    </div>
    <div v-if="gpxFile" id="options" class="row pt-1 pb-2">
      <div class="col-md-2">
        <label for="distance" class="form-label">里程間距</label>
        <div class="input-group">
          <input type="number" class="form-control" id="distance" required aria-describedby="distance-addon2"
            v-model="distance">
          <span class="input-group-text" id="distance-addon2">公尺</span>
        </div>
      </div>
      <div class="col-md-5">
        <label for="template" class="form-label">里程航點名稱樣版</label>
        <div class="input-group">
          <input type="text" class="form-control" id="template" required aria-describedby="template-addon2"
            v-model="template">
          <button class="btn btn-outline-primary" type="button" id="template-addon2" data-bs-toggle="modal"
            data-bs-target="#templateModal">說明</button>
        </div>
      </div>
      <div class="col-md-2">
        <label for="symbol" class="form-label">里程航點符號 &lt;sym&gt;</label>
        <div class="input-group">
          <input type="text" class="form-control" id="symbol" required aria-describedby="symbol-addon2"
            v-model="symbol">
          <a class="btn btn-outline-primary" type="button" id="symbol-addon2"
            href="https://www.gpsrchive.com/BaseCamp/Custom%20Waypoint%20Symbols.html" target="_blank">說明</a>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <input type="checkbox" class="form-check-input" id="fits" v-model="fits">
          <label class="form-check-label" for="fits">遷就地標(路標架設用)</label>
        </div>
        <div>
          <input type="checkbox" class="form-check-input" id="reverse" v-model="reverse">
          <label class="form-check-label" for="reverse">反向產生里程航點</label>
        </div>
        <div>
          <input type="checkbox" class="form-check-input" id="terrainDistance" v-model="terrainDistance">
          <label class="form-check-label" for="terrainDistance">使用地表距離</label>
        </div>
      </div>
    </div>
    <div id="map" class="row flex-grow-1" @drop="onGpxDropped"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.7.4/vue-cookies.min.js"></script>
  <script src='togeojson.js'></script>
  <script>
    function encodeQueryData(data) {
      const ret = [];
      for (let d in data) {
        ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
      }
      return ret.join('&');
    }
    function isDOMParseError(parsedDocument) {
      // parser and parsererrorNS could be cached on startup for efficiency
      var parser = new DOMParser(),
        errorneousParse = parser.parseFromString('<', 'application/xml'),
        parsererrorNS = errorneousParse.getElementsByTagName("parsererror")[0].namespaceURI;

      if (parsererrorNS === 'http://www.w3.org/1999/xhtml') {
        // In PhantomJS the parseerror element doesn't seem to have a special namespace, so we are just guessing here :(
        return parsedDocument.getElementsByTagName("parsererror").length > 0;
      }
      0
      return parsedDocument.getElementsByTagNameNS(parsererrorNS, 'parsererror').length > 0;
    };
    mapboxgl.accessToken = 'pk.eyJ1Ijoib3V0ZG9vcnNhZmV0eWxhYiIsImEiOiJjbDU1Y2N1eW0wbTViM2VwYmlrYzFkN20yIn0.pGuXQe015sVOtzEGrLsCGg';
    new Vue({
      el: '#app',
      data: {
        center: [120.957283, 23.47],
        zoom: 14,
        map: null,
        gpxFile: null,
        gpxFileContent: null,
        progress: 0,
        previewed: false,
        layers: [],
        sources: [],
        markers: [],
        distance: '100',
        template: 'printf("%.1fK", dist/1000)',
        symbol: 'Milestone',
        reverse: false,
        fits: false,
        terrainDistance: false,
      },
      mounted() {
        this.loadCookies();
        this.map = new mapboxgl.Map({
          container: 'map', // container ID
          style: 'mapbox://styles/mapbox/outdoors-v11', // style URL
          center: this.center, // starting position [lng, lat]
          zoom: this.zoom, // starting zoom
          projection: 'globe' // display the map as a 3D globe
        });
        this.map.addControl(new MapboxLanguage({
          defaultLanguage: 'zh-Hant'
        }));
      },
      methods: {
        onGpxChosen(event) {
          this.readGpxFile(event.target.files[0]);
        },
        onGpxDropped(event) {
          this.readGpxFile(event.dataTransfer.files[0]);
        },
        readGpxFile(gpxFile) {
          var reader = new FileReader();
          var self = this;
          reader.onload = function (event) {
            if (self.loadGpx(event.target.result)) {
              self.gpxFile = gpxFile;
              self.gpxFileContent = event.target.result;
            }
          };
          reader.readAsText(gpxFile);
        },
        loadGpx(gpx, fitBounds = true) {
          this.progress = 100;
          var parser = new DOMParser();
          var doc = parser.parseFromString(gpx, "application/xml");
          if (isDOMParseError(doc)) {
            alert('無法處理的GPX格式');
            this.progress = 0;
            return false;
          }
          this.clearMap();
          var geojson = toGeoJSON.gpx(doc);
          var colors = ['#ff0000', '#ff9900', '#ffff00', '#0cad00', '#00ffd5', '#00bbff', '#0040ff', '#d400ff', '#ff0077'];
          var n = 0;
          for (var i = 0; i < geojson.features.length; i++) {
            var feature = geojson.features[i];
            switch (feature.geometry.type) {
              case 'LineString':
              case 'MultiLineString':
                if (!feature.properties) feature.properties = {};
                feature.properties.color = colors[n % colors.length];
                n++;
                break;
            }
          }
          var id = 'gpx';
          this.map.addSource(id, {
            'type': 'geojson',
            'data': geojson,
          });
          this.sources.push(id)
          id = 'tracks';
          this.map.addLayer({
            'id': id,
            'type': 'line',
            'source': 'gpx',
            'layout': {
              'line-join': 'round',
              'line-cap': 'round'
            },
            'paint': {
              'line-color': ['get', 'color'],
              'line-width': 4
            }
          });
          this.layers.push(id);
          var coordinates = [];
          for (var i = 0; i < geojson.features.length; i++) {
            var feature = geojson.features[i];
            switch (feature.geometry.type) {
              case 'LineString':
                coordinates = coordinates.concat(feature.geometry.coordinates);
                break;
              case 'MultiLineString':
                for (var j = 0; j < feature.geometry.coordinates.length; j++) {
                  coordinates = coordinates.concat(feature.geometry.coordinates[j]);
                }
                break;
              case 'Point':
                var lngLat = [feature.geometry.coordinates[0], feature.geometry.coordinates[1]];
                var options = null;
                var img = document.createElement("img");
                if (feature.properties.sym == this.symbol) {
                  img.src = "/images/flag.svg";
                  options = {
                    element: img,
                    anchor: 'bottom-left',
                  };
                } else {
                  img.src = "/images/pin_drop.svg"; options = {
                    element: img,
                    anchor: 'bottom',
                  };
                }
                var marker = new mapboxgl.Marker(options)
                  .setLngLat(lngLat)
                  .addTo(this.map);
                this.markers.push(marker);
                coordinates.push(lngLat);
                break;
              default:
                console.error('Unexpected feature type: ' + feature.geometry.type);
                console.error(JSON.stringify(feature));
                break;
            }
          }
          // for (var i = 0; i < coordinates.length; i++) {
          //   var c = coordinates[i];
          //   var lngLat = [c[0], c[1]];
          //   var options = null;
          //   var img = document.createElement("img");
          //   img.src = "/images/flag.svg";
          //   options = {
          //     element: img,
          //     anchor: 'bottom-left',
          //   };
          //   var marker = new mapboxgl.Marker(options)
          //     .setLngLat(lngLat)
          //     .addTo(this.map);
          // }
          id = 'waypoints';
          this.map.addLayer({
            'id': id,
            'type': 'symbol',
            'source': 'gpx',
            'layout': {
              'text-field': ['get', 'name'],
              'text-variable-anchor': ['left', 'right', 'bottom', 'top'],
              'text-radial-offset': 0.5,
              'text-justify': 'auto',
              'icon-image': ['get', 'icon']
            }
          });
          this.layers.push(id);
          if (fitBounds && coordinates.length > 0) {
            const bounds = new mapboxgl.LngLatBounds(
              coordinates[0],
              coordinates[0],
            );
            // Extend the 'LngLatBounds' to include every coordinate in the bounds result.
            for (const coord of coordinates) {
              bounds.extend(coord);
            }
            this.map.fitBounds(bounds, {
              padding: { top: 50, bottom: 150, left: 25, right: 25 }
            });
          }
          this.progress = 0;
          return true;
        },
        clear() {
          this.gpxFile = null;
          this.clearMap();
        },
        clearMap() {
          this.previewed = false;
          for (var i = 0; i < this.layers.length; i++) {
            this.map.removeLayer(this.layers[i]);
          }
          this.layers = [];
          for (var i = 0; i < this.sources.length; i++) {
            this.map.removeSource(this.sources[i]);
          }
          this.sources = [];
          for (var i = 0; i < this.markers.length; i++) {
            this.markers[i].remove();
          }
          this.markers = [];
        },
        post(format, onresponse) {
          var self = this;
          var xhr = new XMLHttpRequest();
          var data = {
            'format': format,
            'distance': this.distance,
            'template': this.template,
            'symbol': this.symbol,
            'reverse': this.reverse,
            'fits': this.fits,
            'terrainDistance': this.terrainDistance,
          };
          xhr.open("POST", "/cgi/milestones?" + encodeQueryData(data));
          xhr.setRequestHeader("Content-Type", "application/gpx+xml");
          xhr.onload = function () {
            self.progress = 0;
            if (xhr.status != 200) {
              alert(xhr.responseText);
            } else {
              onresponse(xhr.response, xhr.getResponseHeader('Content-Type'));
            }
          };
          xhr.send(this.gpxFile);
          this.progress = 100;
        },
        preview() {
          if (!this.distance) {
            alert('請輸入里程間距');
            return;
          }
          if (!this.template) {
            alert('請輸入里程航點名稱樣版');
            return;
          }
          if (!this.symbol) {
            alert('請輸入里程航點符號');
            return;
          }
          var self = this;
          this.post('gpx', function (response) {
            self.previewed = self.loadGpx(response, false);
            if (self.previewed) {
              self.saveCookies();
            }
          });
        },
        restore() {
          this.loadGpx(this.gpxFileContent, false);
        },
        download(format) {
          var filename = this.gpxFile.name.replace(/\.[^/.]+$/, "") + '(含里程).' + format;
          var self = this;
          this.post(format, function (response, type) {
            var reader = new FileReader();
            reader.onload = function (event) {
              var a = document.createElement("a");
              a.href = event.target.result;
              a.download = filename;
              document.body.appendChild(a);
              a.click();
            };
            var blob = new Blob([response], { type: type });
            reader.readAsDataURL(blob);
          });
        },
        downloadGpx() {
          this.download('gpx');
        },
        downloadCsv() {
          this.download('csv');
        },
        saveCookies() {
          var parameters = {
            distance: this.distance,
            template: this.template,
            symbol: this.symbol,
            fits: this.fits,
            reverse: this.reverse,
            terrainDistance: this.terrainDistance,
          };
          console.log("Saving parameters:", parameters);
          this.$cookies.set("milestone.parameters", JSON.stringify(parameters));
        },
        loadCookies() {
          var parameters = this.$cookies.get("milestone.parameters");
          if (!parameters) return;
          console.log("Loading parameters:", parameters);
          this.distance = parameters.distance;
          this.template = parameters.template;
          this.symbol = parameters.symbol;
          this.fits = parameters.fits;
          this.reverse = parameters.reverse;
          this.terrainDistance = parameters.terrainDistance;
        },
      }
    });
  </script>
  <div class="modal fade" id="introModal" tabindex="-1" aria-labelledby="introModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="introModalLabel">簡介及源起</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
        </div>
        <div class="modal-body">
          <p>本工具可讀取原始GPX檔案，依指定間距計算出里程航點 (例如 0.1K, 0.2K 等等) 後產生新的GPX檔案。</p>
          <p>本工具源於桃園市山岳協會及中華民國山岳協會持續推動<a href="https://www.tytaaa.org.tw/news/7"
              target="_blank">登山路標的標準化及建置</a>，為簡化及加速路標架設的GPX前置處理作業，因此開始創作此工具。</p>
          <p>相關問題回報及建議請來信：<code>outdoorsafetylab 小老鼠 gmail.com</code></p>
          <p>如果您有 web 前端或 golang 後端技能，也歡迎在<a href="https://github.com/outdoorsafetylab/gpxtoolkit"
              target="_blank">GitHub</a>上加入我們持續改善此工具！</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="notesModal" tabindex="-1" aria-labelledby="notesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notesModalLabel">注意事項</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
        </div>
        <div class="modal-body">
          <ol>
            <li>請注意路線起點位置，里程會以其為基準開始計算。</li>
            <li>請預先去除雜點，漂移點及原地不動時的毛線球航跡。</li>
            <li>請務必再以人工確認產出結果。</li>
            <li>建議一條路線使用一個GPX檔案以便確認。</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="templateModal" tabindex="-1" aria-labelledby="templateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="templateModalLabel">里程航點名稱樣版說明</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
        </div>
        <div class="modal-body">
          <p>樣版採用 <a href="https://go.dev/play/" target="_blank">Go 語言語法</a>，樣版可使用 <code>printf</code> 函數來調用
            <code>fmt.Printf</code>。並提供以下變數：
          </p>
          <ul>
            <li><b>num</b>: 里程號碼，整數，從1開始。</li>
            <li><b>total</b>: 里程航點總數，整數。</li>
            <li><b>dist</b>: 里程距離，浮點數(小數)，以公尺計算。</li>
            <li><b>lat</b>: 經度，浮點數(小數)，WGS84模型。</li>
            <li><b>lon</b>: 緯度，浮點數(小數)，WGS84模型。</li>
            <li><b>elev</b>: 標高，浮點數(小數)，以公尺計算。</li>
          </ul>
          <p>若需要轉換為英呎或英哩，可使用數學運算符號。例如 <code>dist*0.000621371192</code> 即將公尺轉換為英哩。</p>
          <p>範例：<code>dist</code><br />產出結果：<b>100</b>, <b>200</b>, <b>300</b>...</p>
          <p>範例：<code>dist/1000</code><br />產出結果：<b>0.1</b>, <b>0.2</b>, <b>0.3</b>...</p>
          <p>範例：<code>printf("%.0fm", dist)</code><br />產出結果：<b>100m</b>, <b>200m</b>, <b>300m</b>...</p>
          <p>範例：<code>printf("%.1fK", dist/1000)</code><br />產出結果：<b>0.1K</b>, <b>0.2K</b>, <b>0.3K</b>...</p>
          <p>範例：<code>printf("%.1fK/%.0fh", dist/1000, elev)</code><br />產出結果：<b>0.1K/2763h</b>, <b>0.2K/2756h</b>,
            <b>0.3K/2748h</b>...
          </p>
          <p>範例：<code></code>printf("SM400 %02d/%d", num, total)</code><br />產出結果：<b>SM400 01/86</b>, <b>SM400
              02/86</b>, <b>SM400 03/86</b>...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>